:root{
    --primry-color:#0000ff;
    --secondary-color:#ffff00;
    --background-color:#f9f9f9;
    --text-color:#333333;
    }

body{
        font-family: Roboto-flex, serif;

    }
    

    header {
        background-color: var(--background-color);
        padding: 1rem;
    }
    
    .hero {
        width:100%;
        position: relative;
        background-image: url("images/snake-rapid2.jpg");
        background-size: cover;
        overflow:hidden;
    }
    
.hero h1 {
    position: absolute;
    top:5%;
    text-align: center;
    width: 100%;
    padding: 10px;
    color:#f9f9f9;
    background-color:rgb(0,0,0,0.5);
    box-sizing: border-box;

    
   
}

.hero article {
    position:absolute;
    bottom:20%;
    padding-left:5px;
    margin-right: 0;
    background-color: rgba(12, 10, 126, 0.37);
    color:#f9f9f9;
    box-shadow: 0 0 2px rgba(40, 29, 139, 0.089);
    display: inline;
    font-size: 1%;
    align-items: center;
    right:60px;
    left:60px;
}

.hero img{
    display: block;
    width:100%;
    height: auto;
    align-items: center;
    align-items: center;
    overflow: hidden;
    
}

.hero article img {
    max-width: 20%;
    display:block;
    float:right;

}

.hero p {
    font-size: 10px;
    padding-left: 2rem;
}

footer img {
    width:20px;
    height: 20px;
}

footer a {
    text-decoration: none;
}

section img {
    display: block;
    align-items: center;
    right:100px;
    margin:10px 60px;
}

section h2 {
    margin: 0 30px 0;
    padding:15px;
    color:crimson;

}


header a {
    color:black;
}