:root{
    --primry-color:#0000ff;
    --secondary-color:#ffff00;
    --background-color:#f9f9f9;
    --text-color:#333333;
    }

body{
        font-family: Roboto-flex, serif;

    }
    

    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;                                                                                    
        align-items: center;
        grid-gap:50px;
        place-items: center;
        gap: 30px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 1rem; 
    }

    li{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
        grid-column-end: 1;
        padding-left: 2rem;
        /*display: grid;
        padding:0 2rem;
        place-items: right;*/
    }

    .hero {
        width:100%;
        position: relative;
        background-image: url("images/snake-rapid2.jpg");
        background-size: cover;
        overflow:hidden;
    }
    
.hero h1 {
    position: absolute;
    top:5%;
    text-align: center;
    width: 100%;
    padding: 10px;
    color:#f9f9f9;
    background-color:rgb(0,0,0,0.5);
    box-sizing: border-box;

    
   
}

.hero article {
    position:absolute;
    bottom:20%;
    padding-left:5px;
    margin-right: 0;
    background-color: rgba(12, 10, 126, 0.37);
    color:#f9f9f9;
    box-shadow: 0 0 2px rgba(40, 29, 139, 0.089);
    display: inline;
    font-size: 1%;
    align-items: center;
    right:60px;
    left:60px;
}

.hero img{
    display: block;
    width:100%;
    height: auto;
    align-items: center;
    align-items: center;
    overflow: hidden;
    
}

.hero article img {
    max-width: 20%;
    display:block;
    float:right;


}

.hero p {
    font-size: 10px;
    padding-left: 2rem;
}

footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

footer img {
    width:20px;
    height: 20px;
    margin:10px;
}
footer p{
    padding-left: 30rem;
    font:italic smaller serif;

}
footer a {
    text-decoration: none;
}

header a {
    color:black;
}

section {
    display:flex;
    flex-direction: row;
}

h2 {
    position: absolute;
    padding:5px;
    text-align: center;
    right: 40%; 
    left:40%;   
}


section p {
    padding:50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 1px;
    justify-content: center;
    gap:5px;
    
    /*grid-template-rows: repeat(1, 1fr)*/
}

.grid-container img {
    width: 200px;
    height: 200px;
    margin-top: 100px;
}



.navigation {
    display: flex;
    list-style: none;
    text-align: right;
}



.navigation a {
    display:block;
    color:navy;
    padding:5px 15px ;
    margin-left: 5px;
    border: 1px solid #333333;
    border-radius: 5px;
    text-decoration: none;
    background-color: #f9f9f9;

}

.navigation a:hover {
    color:tomato;
    font-weight: 700;
    text-decoration: none;
    
}

figcaption {
    text-align: center;
}


.adventure-heading {
    white-space: nowrap;
    font-size: 24px;
    margin: 20px 0;
}